{{ form_errors(form) }}
<div class="column">
    <div class="ui segment">
        <h4 class="AbstractResourceTypeui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
        <div class="one field">
            {{ form_row(form.code) }}
        </div>
        <div class="one field">
            {{ form_row(form.name) }}
        </div>
        <div class="one field">
            {{ form_row(form.parent) }}
        </div>
    </div>
    <div class="ui segment">
        {{ form_row(form.permissions) }}
    </div>
    <div class="ui segment">
        {{ form_row(form.description) }}
    </div>
</div>